<div class="col-md-12" style="margin-left:0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">New User</h3>
    </div>
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message['text'] }}</strong>
      </div>
      <div class="box-body">
              <div [ngClass]="getFormGroupClass(email.invalid,email.dirty)">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="inputEmail"
                    #email="ngModel" placeholder="Email"
                    pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|''(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*'')@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"
                    email required>
                  <div class="help-block" *ngIf="email.invalid && (!submited || email.touched)"
                    class="alert alert-danger">
                    <div *ngIf="email.errors.required"> Email is required. </div>
                    <div *ngIf="email.errors.pattern"> Email is invalid, please verify.</div>
                  </div>
                </div>
              </div>

        <div [ngClass]="getFormGroupClass(name.invalid,name.dirty)">
          <label for="inputEmail" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="user.name" name="name" class="form-control" id="inputName" #name="ngModel" placeholder="Full name" pattern="[A-Za-z ]+" required>
            <span class="help-block" *ngIf="name.invalid  && name.dirty">Full name is invalid </span>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(password.invalid,password.dirty)">
          <label for="inputPassword" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            
                        <input type="password" [(ngModel)]="user.password" name="password" placeholder="Password"
                          class="form-control" required #password="ngModel"
                          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                        <div *ngIf="password.invalid && (submited!=true || password.touched)"
                          class="alert alert-danger">
                          <div *ngIf="password.errors.required"> Password is required. </div>
                          <div *ngIf="password.errors.pattern"> Must contain at least one number and one uppercase and
                            lowercase
                            letter, and
                            at least 8 or more characters.</div>
                        </div>
                      
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(profile.invalid,profile.dirty)">
          <label for="inputProfile" class="col-sm-2 control-label">Profile</label>
          <div class="col-sm-10">
            <select [(ngModel)]="user.profile" class="form-control select2" name="profile" id="inputProfile" #profile="ngModel" style="width: 100%;" required>
                <option value="ROLE_ADMIN">Admin</option>
                <option value="ROLE_CUSTOMER">Client</option>
                <option value="ROLE_TECHNICIAN">Technician</option>
              </select>
            <span class="help-block" *ngIf="profile.invalid && profile.dirty">Profile is required</span>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <button *ngIf="submited" type="submit" [disabled]="!form.valid" class="btn btn-info pull-right" >Submit</button>
      </div>
    </form>
    <div class="box box-footer">
      <app-loading-animation *ngIf="!submited"></app-loading-animation>
    </div>
  </div>
  </div>

