<div [ngClass]="classCss" role="alert" *ngIf="message">
  <strong>{{ message['text'] }}</strong>
</div>
<div class="row">
<div class="col-md-12">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">User List</h3>
  </div>
  <div class="box-body">
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="userFilter.name" name="name" class="form-control" id="inputName" (keyup.enter)="filter()">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="userFilter.email" name="Email" class="form-control" id="inputEmail"
          (keyup.enter)="filter()">
      </div>
    </div>
  <div class="box-footer">
    <button class="btn btn-info pull-left" (click)="cleanFilter()">Clean Filter</button>
    <button style="margin-left: 10px" class="btn btn-info pull-right" (click)="filter()">Filter</button>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
      <tr>
        <th>  </th>
        <th>Email</th>
        <th>Full Name</th>
        <th>Profile</th>
        <th style="width: 10px">&nbsp;</th>
        <th style="width: 10px">&nbsp;</th>
      </tr>
      <tr *ngFor="let user of listUser" >
        <td> <avatar [name]="user.name" [displayType]="'circle'" [size]="28"></avatar></td>
        <td><button type="button" class="btn btn-link" *ngIf="user.profile!='ROLE_ADMIN'" (click)="profile(user.id)">{{user.email}}</button>
            <p *ngIf="user.profile=='ROLE_ADMIN'">{{user.email}}</p>
        </td>
        <td>{{user.name}}</td>
        <td>
          <div *ngIf="user.profile == 'ROLE_CUSTOMER'" >  <i class="fas fa-users">      </i> Client</div>
          <div *ngIf="user.profile == 'ROLE_TECHNICIAN'"> <i  class="fas fa-users-cog"> </i> Technician</div>
          <div *ngIf="user.profile == 'ROLE_ADMIN'"     > <i class="fas fa-user-shield"></i> Admin </div>
        </td>
        <td><button class="btn btn-primary" *ngIf="user.profile!='ROLE_ADMIN'"(click)="edit(user.id)">Edit</button></td>
        <td><button class="btn btn-danger" *ngIf="user.profile!='ROLE_ADMIN'" (click)="delete(user.id)">Delete</button></td>
      </tr>

    </table>
  </div>
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>
      <li *ngFor="let p of pages; let i=index">
          <a [ngClass]="{'pagination-focus':i==page}"  href="" (click)="setPage(i,$event)">{{i+1}}</a>
      </li>
      <li><a href="" (click)="setNextPage($event)">&raquo;</a></li>
    </ul>
  </div>
</div>
</div>
</div>
