<div class="col-md-14" style="margin-left:0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Ticket number : {{ticket.number}}</h3>
    </div>
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message['text'] }}</strong>
      </div>
      <div class="box-body">
        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
                <b>Title :</b> <span>{{ticket.title}}</span>
                <span class="pull-right" *ngIf="shared.user.email != ticket.user.email">
                   <b>Created by :</b> <span>{{ticket?.user?.email}}</span>
                </span>
          </li>
          <li class="list-group-item">
            <b>Priority :</b> <span>{{ticket.priority}}</span>
            <span class="pull-right" *ngIf="shared.user.profile == 'ADMIN' || shared.user.profile == 'TECHNICIAN'">
              <b>Assigned To :</b>
              <span *ngIf="ticket.status != 'New'">{{ticket?.assignedUser?.email}}</span>
              <span *ngIf="shared.user.profile == 'ADMIN' && ticket.status == 'New'">
                <select (change)="selectAgent($event.target.value)">
                  <option disabled>----------------</option>
                  <option [value]="agent.id" *ngFor="let agent of agents">{{agent.email}}</option>
                </select>
              </span>
            </span>
          </li>
          <li class="list-group-item">
              <b>Status :</b> <span>{{ticket.status}}</span>

              
          </li>
          <li class="list-group-item">
              <b>Date :</b> <span>{{ticket.date | date:'dd/MM/yyyy'}}</span>

            </li>
          <li class="list-group-item">
            <b>Description :</b> <span>{{ticket.description}}</span>
            <span class="pull-right" *ngIf="ticket.reminded==true">
                <span><i class="fas fa-user-shield"></i></span> Reminder sent
            </span>
          </li>
          <li class="list-group-item">
             <span><img [src]="ticket.image" width="500px" height="400px"></span>
                  <span class="pull-right" *ngIf="ticket.reminded==true">
                    <table class="table table-bordered">
                      <tr>
                        <th>Date </th>
                        <th>Message</th>
                      </tr>
                      <tr *ngFor="let reminder of ticket.reminders">
                        <td>{{ reminder?.date | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{ reminder?.message }}</td>
                      </tr>
                    </table>
                  </span>
          </li>
        </ul>
      </div>
      <span>
        <table class="table table-bordered" *ngIf="ticket.status != 'New'">
          <tr>
            <th *ngIf="shared.user.profile == 'ADMIN'">User Change</th>
            <th>Date Change Status</th>
            <th>Status</th>
            <th>Message</th>
          </tr>
          <tr *ngFor="let change of ticket.changes" >
            <td *ngIf="shared.user.profile == 'ADMIN'">{{ change?.userChange.email}}</td>
            <td>{{ change?.dateChangeStatus | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{ change?.status }}</td>
            <td *ngIf="shared.user.profile == 'CUSTOMER' && change.status != 'Flagged'" >{{ change?.message }}</td>
          </tr>
        </table>
      </span>
      <span *ngIf="((shared.user.profile == 'TECHNICIAN' && ticket.status == 'Assigned') || (shared.user.profile =='CUSTOMER' && ticket.status == 'Resolved')) || (shared.user.profile == 'CUSTOMER' && (ticket.status == 'New'||ticket.status == 'Assigned')) && ticket.overdue && ticket.reminded==false ">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="4" id="comment" [(ngModel)]="msg" (input)="msg = $event.target.value"></textarea>
      </span>
      <div>
      </div>
      <div class="box-footer">
        <button *ngIf="(shared.user.profile == 'CUSTOMER' && (ticket.status == 'New'||ticket.status == 'Assigned')) && ticket.overdue == true && ticket.reminded == false" (click)="remind()" class="btn btn-primary">Send reminder</button>
        <button *ngIf="shared.user.profile == 'ADMIN' && ticket.status == 'New'" (click)="changeStatus('Assigned')" class="btn btn-primary" >Assign</button>
        <button *ngIf="shared.user.profile == 'TECHNICIAN' && (ticket.status == 'Assigned' || ticket.status == 'Disapproved')" (click)="changeStatus('Resolved')" class="btn btn-primary">Solve</button>
        <button *ngIf="shared.user.profile=='TECHNICIAN' && ticket.status == 'Assigned'" (click)="changeStatus('Flagged')" class="btn btn-danger" >Flag</button>
        <button *ngIf="shared.user.profile == 'ADMIN' && (ticket.status == 'New' || ticket.status == 'Flagged')" (click)="changeStatus('Rejected')" class="btn btn-danger">Reject</button>
        <button *ngIf="shared.user.profile == 'CUSTOMER' && ticket.status == 'Resolved'" (click)="changeStatus('Approved')" class="btn btn-success" >Approve</button>
        <button *ngIf="shared.user.profile == 'CUSTOMER' && ticket.status == 'Resolved'" (click)="changeStatus('Disapproved')" class="btn btn-danger">Disapprove</button>
        <button *ngIf="shared.user.profile == 'ADMIN' && ticket.status == 'Approved'" (click)="changeStatus('Closed')" class="btn btn-primary">Close</button>
      </div>
    </form>
  </div>
</div>
