<header class="main-header">
  <a [routerLink]="['/']" class="logo">
    <span class="logo-mini"><b>SGRC</b></span>
    <span class="logo-lg"><b>BTE : SGRC</b></span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <div class="btn-group dropleft">
          <avatar [email]="shared.user.email" [displayType]="'circle'" [size]="28"
            type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"></avatar>
        <ul class="dropdown-menu dropdown-left-manual">
           <li class="dropleft" role=" presentation"><a role="menuitem" tabindex="-1" href="#">{{ shared.user.email }} -{{ shared.user.profile }}</a></li>
           <li ><a href="#">Profile</a></li>
           <li><button class="btn btn-link" (click)="signOut()">Sign out</button></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
